.pay-schedule-container {
  padding: 20px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 7.5%;
  margin-left: 20%;
  width: 60%;
}

.schedule-details {
  display: flex;
  flex-direction: column;
}

.schedule-details h3.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.details-row {
  display: flex;
}

.details-row p {
  margin: 8px 0;
  display: flex;
}

.details-row strong {
  width: 140px; /* Adjust this width as needed */
  flex-shrink: 0;
}

.note {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 4px solid #007bff;
}

.upcoming-payrolls {
  margin-top: 20px;
}

.upcoming-payrolls table {
  width: 100%;
  border-collapse: collapse;
}

.upcoming-payrolls th,
.upcoming-payrolls td {
  border: 1px solid #ddd;
  padding: 8px;
}

.upcoming-payrolls th {
  background-color: #f2f2f2;
  text-align: left;
}

.upcoming-payrolls td span {
  display: inline-block;
  background-color: #c67707;
  padding: 2px 8px;
  border-radius: 4px;
  margin-left: 8px;
  color: white;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #b2b3b4;
  margin-right: 52%;
}

.edit-button i {
  font-size: 16px;
}
