<div>
    <app-settings-sidebar></app-settings-sidebar>
</div>

<div class="preferences-sidebar">
    <h2>Preferences</h2>
    <ul>
        <li><a routerLink="/employee-portal">Employee Portal</a></li>
        <li><a routerLink="/flexiblebenefitplan">Flexible Benefit Plan</a></li>
        <li><a routerLink="/reimbursementclaims">Reimbursement Claims</a></li>
        <li><a routerLink="/employee-custom-field">Employee Custom Field</a></li>
        <li><a routerLink="/incometaxdeclaration">Income Tax Declaration</a></li>
        <li><a routerLink="/proof-of-investments">Proof Of Investments</a></li>
    </ul>
</div>