<div class="sidebar">
    <ul>
      <li>
        <a routerLink="/dashboard">Back to Dashboard</a>
      </li>
      <li>
        <a routerLink="/organizationprofile">Organization Profile</a>
      </li>
      <li>
        <a routerLink="/worklocations">Work Locations</a>
      </li>
      <li>
        <a routerLink="/salarycomponent">Salary Components</a>
      </li>
      <li>
        <a routerLink="/taxes">Taxes</a>
      </li>
      <li>
        <a routerLink="/preferences">Preferences</a>
      </li>
      <li>
        <a routerLink="/userandroles">Users and Roles</a>
      </li>
    </ul>
  </div>