<div>
  <app-preferences-sidebar></app-preferences-sidebar>
</div>
<div class="flexible-benefit-plan">
  <h2>FBP Preference</h2><hr>
  <div class="fbp-content">
    <div class="fbp-locked">
      <h3>FBP Declaration is Locked</h3>
      <p>Release FBP for your employees to personalise their salary structure through the portal. You can release by clicking the button below or configure it on their behalf under Employees > Employee Profile > Salary Details.</p>
      <button (click)="navigateToReleaseDetails()">Release FBP Declaration</button>
    </div>
  </div>
</div>
  